node
node_modules
.idea
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.tmp
.DS_Store
.gradle
.metadata
.recommenders
target
build
logs
work
bin
npm-*.log
WEB-INF
*.ldb
application.pid
out
.factorypath

